body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://th.bing.com/th/id/R.5dc128d4ff082b92a9208670789ae6ab?rik=%2bJioYcZ9YFWHcQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f5KnwccW.jpg&ehk=rqBnvdCAZSRIFdR2nF067gQBHeiMGmFxjEBmNXXKAhw%3d&risl=&pid=ImgRaw&r=0);
    color: white;
    font-style: italic;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: hotpink;
    text-shadow: 5px 5px 5px hotpink;
}

#tic-tac-toe-board{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    /* gap: 10px;  */
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    font-size: 2rem;
    width:100px;
    height: 100px;
    background-color:fuchsia;
    
    
}
.cell:hover{
    background-color:darkorchid;
}


    

button {
   
    font-size: 30px;
    background-color:fuchsia;
}

#status {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}