body{
    font-family: 'Arial',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: azure;
    color: black;
}

#tic-tac-toe-board{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 10px; 
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 2rem;
    width:100px;
    height: 100px;
    background-color: aquamarine;
    
    
}
.cell:hover{
    background-color: #e3e3e3;
}